In [1]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

In [2]:
docs = [
        '먹고 싶은 사과',
        '먹고 싶은 바나나',
        '길고 노란 바나나 바나나',
        '저는 과일이 좋아요'
        ]

In [3]:
tdidv = TfidfVectorizer(use_idf=True, smooth_idf=False, norm=None).fit(docs)

In [4]:
tdidv.transform(docs) #sparse matrix로 만들어줌.

<4x9 sparse matrix of type '<class 'numpy.float64'>'
	with 12 stored elements in Compressed Sparse Row format>

In [5]:
tfidv_df = pd.DataFrame(tdidv.transform(docs).toarray())

In [6]:
tfidv_df

,0,1,2,3,4,5,6,7,8
0,0.000000,0.000000,0.000000,1.693147,0.000000,2.386294,1.693147,0.000000,0.000000
1,0.000000,0.000000,0.000000,1.693147,1.693147,0.000000,1.693147,0.000000,0.000000
2,0.000000,2.386294,2.386294,0.000000,3.386294,0.000000,0.000000,0.000000,0.000000
3,2.386294,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.386294,2.386294

In [7]:
sorted(tdidv.vocabulary_)

['과일이', '길고', '노란', '먹고', '바나나', '사과', '싶은', '저는', '좋아요']

In [8]:
from sklearn.metrics.pairwise import cosine_similarity

In [10]:
cosine_similarity(tfidv_df, tfidv_df)

array([[1.        , 0.57833696, 0.        , 0.        ],
       [0.57833696, 1.        , 0.40894599, 0.        ],
       [0.        , 0.40894599, 1.        , 0.        ],
       [0.        , 0.        , 0.        , 1.        ]])